h5py==3.1.0
jupyter==1.0.0
jupyter-client==5.3.5
jupyter-console==5.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
matplotlib==3.2.2
more-itertools==8.9.0
notebook==5.3.1
numpy==1.19.5
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
pandas==1.1.5
Pillow==7.1.2
scikit-learn
scipy
seaborn==0.11.2
Shapely==1.7.1
sklearn==0.0
tensorflow==2.6.0
Flask
gunicorn